/* font body*/
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");
*{
  margin: 10;
  padding: 10;
}
body{
  font-family: Helvetica;
  background-color: #2b2b2b;
  color: white;
  font-size: 30px;
  height: 80vh;
  font-family: "Darker Grotesque", sans-serif;
}
body .typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .typing-container #feature-text {
  margin-left: 8px;
}
body .typing-container .input-cursor {
  display: inline-block;
  width: 2px;
  height: 42px;
  background-color: white;
  margin-left: 8px;
  -webkit-animation: blink 0.6s linear infinite alternate;
  animation: blink 0.6s linear infinite alternate;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*padding*/
h1{
    font-size: 100%;
    font-family: "Darker Grotesque", sans-serif;
    padding: 100px, 0;
    text-align: center;
}
nav .logo h4{
    font-size: 150%;
    text-align: left;
}
 /* navbar */
nav {
    display : flex;
    justify-content: space-around;
    text-decoration: none;
}
nav ul{
    display : flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
    font-size: 100%;
    margin-top: 60px;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}
/* hamburger menu */
.menu-toggle{
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 20;
  margin-top: 70px;
  position: relative;

}
.menu-toggle input{
  position:absolute;
  width:40px;
  height:40px;
  opacity:0;
  left: -12px;
  top: -5px;
  cursor: pointer;
  z-index: 10;
}
.menu-toggle span {
  display:block;
  width: 28px;
  height: 3px;
  background-color: #ffff;
  border-radius: 3px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
;
}

/* hamburger animation */
.menu-toggle span:nth-child(2){
  transform-origin: 0 0;

}
.menu-toggle span:nth-child(4){
  transform-origin:0 100%;

}
.menu-toggle input:checked ~ span:nth-child(2){
  /* opacity:1; */
  transform: rotate(45deg) translate(1px,0);

}
.menu-toggle input:checked ~ span:nth-child(4){
  /* opacity:1; */
  transform: rotate(-45deg) translate(1px,0);

}
.menu-toggle input:checked ~ span:nth-child(3){
  /* opacity:1; */
  transform: scale(0);

}



/* responsive breakpoint */
/* responsive tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width :50%; 
 }
}

/* ukuran mobile */
@media screen and (max-width: 576px){
  nav .logo h4{
    /* font-size: 150%; */
    text-align: justify;
}
  .menu-toggle{
    display: flex;
  }
  nav ul {
    display: none;
 }


h1{
    font-size: 150%;
    font-family: "Darker Grotesque", sans-serif;
    padding: 100px, 100px;
    text-align: center;
}
  body .typing-container {
  display: flex;
  /* justify-content: left;
  align-items: center; */
  padding: 100px, 100px;
    text-align: center;
}
body .typing-container #feature-text {
  margin-left: 8px;
}
body .typing-container .input-cursor {
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: white;
  margin-left: 0px;
  -webkit-animation: blink 0.6s linear infinite alternate;
  animation: blink 0.6s linear infinite alternate;
}
 nav ul {
  display: none;
 }
}